# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
* SQL
* Julia
* Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Keras
4. TensorFlow


| Data Science Tools|
|:----:|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
m=min%60

print("Minutes=",min)
print("Hours=",h,':',m)

Minutes= 200
Hours= 3 : 20

## Author
Luis Carvajal